$cr:#f60; //主体
$linear:#ffbc00;  //渐变
$boc:#e1e1e1;
$fff:#fff;
.f60{color:$cr}
//背景图片
@mixin bis($url){
  background:{
    image:url($url);
    repeat: no-repeat;
    size: 100% 100%;
  }
}
//fixed位置
@mixin fixed($position, $rem){
  position:fixed;
  @if $position == top{
    top:$rem;
    left:0;
    right:0;
  }
  @else if $position == bottom{
    bottom:$rem;
    left:0;
    right:0;
  }
  @else if $position == left{
    top:0;
    bottom:0;
    left:$rem;
  }
  @else if $position == right{
    top:0;
    bottom:0;
    right:$rem;
  }
  @else if $position == center{
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
}
//圆角
@mixin borRadius($radius){
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}
//定位居中
@mixin center{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

//宽and高
@mixin wh($width,$height){
  width: $width;
  height:$height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
  font: #{$size}/#{$line-height} $family;
}

//flex
@mixin flexCenter($position){
  display: flex;
  justify-content: $position;
  align-items:center;
}
@mixin flex($lot){
  flex:$lot;
}
